<BR/>
<h2>欢迎使用Note记录平台，记录维护您任意类型的信息。</h2>
<BR/>
<BR/>

<b>推荐表－鑫业</b>
<div class="recommend">
  <ul>
    <li><%= link_to "合同评审记录", note_records_path("4f670ac86a2f4f37fd00004b") %></li>
    <li><%= link_to "客户拜访记录", note_records_path("4f670ae96a2f4f37fd00004c") %></li>
  </ul>
</div>
<BR/>
<BR/>
<b>推荐表－研发过程类</b>
<div class="recommend">
  <ul>
    <li><%= link_to "项目／研发流程管理手册", note_records_path("4f6706646a2f4f37fd00002f") %></li>
    <li><%= link_to "发版记录", note_records_path("4f6707f76a2f4f37fd000033") %></li>
    <li><%= link_to "线上质量事故", note_records_path("4f6708366a2f4f37fd000034") %></li>
    <li><%= link_to "配置管理", note_records_path("4f6708486a2f4f37fd000035") %></li>
    <li><%= link_to "沟通管理", note_records_path("4f67086c6a2f4f37fd000036") %></li>
    <li><%= link_to "会议纪要", note_records_path("4f6708906a2f4f37fd000037") %></li>
    <li><%= link_to "日报", note_records_path("4f6708996a2f4f37fd000038") %></li>
    <li><%= link_to "方案选择", note_records_path("4f6708ae6a2f4f37fd000039") %></li>
    <li><%= link_to "项目访谈问题", note_records_path("4f6708b96a2f4f37fd00003a") %></li>
  </ul>
</div>
<BR/>
<BR/>
<b>推荐表－信息发布</b>
<div class="recommend">
  <ul>
    <li><%= link_to "招聘信息", note_records_path("4f6708cc6a2f4f37fd00003b") %></li>
    <li><%= link_to "人才信息", note_records_path("4f6708d46a2f4f37fd00003c") %></li>
    <li><%= link_to "推荐软件工具", note_records_path("4f6709096a2f4f37fd00003e") %></li>
    <li><%= link_to "推荐网站", note_records_path("4f6709ef6a2f4f37fd000043") %></li>
    <li><%= link_to "活动报名", note_records_path("4f6709fe6a2f4f37fd000044") %></li>
  </ul>
</div>
<BR/>
<BR/>
<b>推荐表－关于Note平台</b>
<div class="recommend">
  <ul>
    <li><%= link_to "问题反馈及建议", note_records_path("4f670a0e6a2f4f37fd000045") %></li>
    <li><%= link_to "Note平台使用方法", note_records_path("4f670a526a2f4f37fd000049") %></li>
    <li><%= link_to "Note平台进阶使用", note_records_path("4f670a826a2f4f37fd00004a") %></li>
    <li><%= link_to "Note平台发布公告", note_records_path("4f6708ec6a2f4f37fd00003d") %></li>
    <li><%= link_to "Note平台待开发功能", note_records_path("4f6706126a2f4f37fd00002c") %></li>
  </ul>
</div>
<BR/>
<BR/>
<b>推荐表－其它</b>
<div class="recommend">
</div>
<BR/>
<BR/>
<b>推荐表－Andersen个人应用</b>
<div class="recommend">
  <ul>
    <li><%= link_to "TODO", note_records_path("4f66e9de6a2f4f37fd000002") %></li>
    <li><%= link_to "随笔", note_records_path("4f66ea9c6a2f4f37fd000007") %></li>
    <li><%= link_to "电话簿", note_records_path("4f66eb846a2f4f37fd00000b") %></li>
    <li><%= link_to "临时信息", note_records_path("4f66ec1e6a2f4f37fd00000f") %></li>
    <li><%= link_to "个人简历", note_records_path("4f66ec466a2f4f37fd000012") %></li>
    <li><%= link_to "生活备忘", note_records_path("4f66ecf66a2f4f37fd000019") %></li>
    <li><%= link_to "技术笔记", note_records_path("4f66ed316a2f4f37fd00001c") %></li>
    <li><%= link_to "好站收录", note_records_path("4f6703e96a2f4f37fd000020") %></li>
    <li><%= link_to "网友留言", note_records_path("4f6705ee6a2f4f37fd000029") %></li>
  </ul>
</div>
<BR/>
<BR/>
<BR/>
