<% content_for :menu do %>
  <%=link_to "添加", new_note_record_path(@note_id)%>
<% end %>

<div>
  <br/>
  <b><%= link_to Sanitize.clean(@note["name"]), note_records_path(@note_id) %><div class="count">(<%= @cnt_records %>)</div>---Records: </b>
  <%= raw pagination(@cnt_pages, params) %>
  <br/>
  <br/>
  <table class="records">
    <tr>
      <th>*</th>
      <% @labels.each do |label| %>
        <th><%= label["name"] %></th>
      <% end %>
    </tr>

    <% @records.each do |record| %>
      <tr>
        <td>
          <%= link_to "s", note_record_path(@note_id, record["_id"]) %> &nbsp;
          <% if if_record_write?(@note_id, record["_id"].to_s) %>
            <%= link_to "e", edit_note_record_path(@note_id, record["_id"]) %> &nbsp;
            <%= link_to "d", note_record_path(@note_id, record["_id"]), method: "delete", confirm: "不可找回，确认删除？" %>
          <% end %>
        </td>
        <% @labels.each do |label| %>
          <td>
            <%= render partial: "record_item", locals: {item: record[label["lid"].to_s], format: label["format"]} %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
