<div>
  <br/>
  <b><%= link_to @note["name"], note_records_path(@note_id) %><div class="count">(<%= @cnt_records %>)</div>---Records: </b>
  <%= raw pagination(@cnt_pages, params) %>
  <br/>
  <br/>
  <table class="records">
    <tr>
      <th>*</th>
      <% @note_labels.each do |label| %>
        <th><%= label["name"] %></th>
      <% end %>
    </tr>

    <% @records.each do |record| %>
      <tr>
        <td>
          <%= link_to "show", note_record_path(@note_id, record["_id"]) %>
          <% if if_record_write?(@note_id, record["_id"].to_s) %>
            | <%= link_to "edit", edit_note_record_path(@note_id, record["_id"]) %>
            | <%= link_to "destroy", note_record_path(@note_id, record["_id"]), method: "delete" %>
          <% end %>
        </td>
        <% @note_labels.each do |label| %>
          <td><pre><%= record[label["lid"].to_s] %></pre></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
