<!DOCTYPE html>
<html>
<head>
  <title>Note</title>
  <link rel="shortcut icon" type="images/x-icon"  href="/assets/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">

    <div id="header">
      <div id="logo">
        <%= link_to 'Note', root_path %>
      </div>

      <div id="user">
        here is user
      </div>
    </div>

    <div id="message_box">
      here is message box
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash#{name}" %>
      <% end %>
    </div>

    <div id="content">
      <div id="content_top">
      </div>

      <div id="content_main">
        <%= yield %>
      </div>

      <div id="content_bottom">
      </div>
    </div>

    <div id="footer">
      <%= link_to 'About Note', welcome_about_path %> | 
      <%= link_to 'Contact', welcome_contact_path %>
    </div>

  </div>
</body>
</html>
